# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [8]:
a = 17
b = 17
print(f"a == b : {a==b}\n")
print(f"id(a) == id(b) : {id(a)==id(b)}")

a == b : True

id(a) == id(b) : True

Для об'єктів з числовим значенням у проміжку [-5; 256] їхні ID будуть однакові, оскільки Python резерувє їх.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [7]:
print("11 is int : " + str(isinstance(11, int)) + "\n")
print("'ab' is str : " + str(isinstance("ab", str)) + "\n")
print("True is bool : " + str(isinstance(True, bool)) + "\n")
print("True is int : " + str(isinstance(True, int)) + "\n")
print("11 is str : " + str(isinstance(11, str)) + "\n")

11 is int : True

'ab' is str : True

True is bool : True

True is int : True

11 is str : False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [6]:
a = 23
b = 101.78
print(f"a = {a}\nb = {b}\n")
print(f"a + b = {a+b}\n")
print(f"a - b = {a-b}\n")
print(f"a / b = {a/b}\n")
print(f"b / a = {b/a}\n")
print(f"a * b = {a*b}\n")
print(f"a // b = {a//b}\n")
print(f"b // a = {b//a}\n")
print(f"a % b = {a%b}\n")
print(f"b % a = {b%a}\n")
print(f"b ** a = {b**a}\n")

a = 23
b = 101.78

a + b = 124.78

a - b = -78.78

a / b = 0.22597759874238554

b / a = 4.425217391304348

a * b = 2340.94

a // b = 0.0

b // a = 4.0

a % b = 23.0

b % a = 9.780000000000001

b ** a = 1.500500934918936e+46

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
a = 23
b = 101.78
print(f"b = {b}")
print(f"int(b) = {int(b)}")
c = False
print(f"c = {c}")
print(f"int(c) = {int(c)}")

b = 101.78
int(b) = 101
c = False
int(c) = 0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [4]:
emptyStr1 = ""
emptyStr2 = str()
print(f"'{emptyStr1}'-'{emptyStr2}'")

''-''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [2]:
apStr = "\'"
apStr2 = r"\'"
print(f"1st={apStr}\n2nd={apStr2}")

1st='
2nd=\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [3]:
surname = "Romaniuk"
print(f"My surname is {surname}")

My surname is Romaniuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [9]:
solution = "My dog is crazy."[:-1].lower().split()
print(solution)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [10]:
list1 = [1, 2, 3]
list2 = []
list2.append(4)
list2.append(5)
list2.append(6)
list2.append(7)
print(f"length of list2 = {len(list2)}")

length of list2 = 4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [11]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [12]:
list1 = [
    [1, 2, 3],
    [4, 5 ,6],
    [7, 8 ,9]
]
print(list1[-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [13]:
list1 = [1, 'a', True, 123, .23, 0, False, True, 'Python', 'test']
list2 = list1[2:-2]
print(list2)

[True, 123, 0.23, 0, False, True]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [14]:
tuple1 = (1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Tuple - immutabel, в той час як list - mutable, тобто список можна змінювати (змнювати елементи, додавати, видаляти) в той час як tuple не можна. В обох зберігаються впорядковані дані, які можна отримати за індексом.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [15]:
tuple1 = (2.3, 1.0, 9.8, 10.0, -11.9, 1017.009, -111.23, 674.05, 10.1, -12.2)
tuple2 = tuple1[::-2]
print(tuple2)

(-12.2, 674.05, 1017.009, 10.0, 1.0)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [16]:
set1 = set()
set1.add(1)
set1.add("2")
set1.add("b")
print(set1)

{'2', 1, 'b'}

Множини змінні

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [17]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

У множині не може бути дублікатів, тому залишається лише по 1 екземпляру.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [18]:
set1 = {1, 2, 3 , "a", "Python", False}
set2 = {3, 4, "b", "Python", True}
print(f"set1 intersection set2 = {set1.intersection(set2)}")
print(f"set1 union set2 = {set1.union(set2)}")
print(f"set1 difference set2 = {set1.difference(set2)}")
print(f"set1 symm difference set2 = {set1.symmetric_difference(set2)}")

set1 intersection set2 = {True, 3, 'Python'}
set1 union set2 = {False, 1, 2, 3, 'Python', 4, 'a', 'b'}
set1 difference set2 = {False, 'a', 2}
set1 symm difference set2 = {False, 2, 4, 'a', 'b'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [19]:
dict1 = {}
dict1[1] = "value"
dict1["key"] = True
dict1[(1, 2, 3)] = "tuple"
dict1["False"] = 0
print(dict1)

{1: 'value', 'key': True, (1, 2, 3): 'tuple', 'False': 0}

Список не може бути ключем, оскільки він mutable, тобто може змінюватися.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [20]:
dict1 = {
    "key": "value",
    "inner": {
        "inner2": {
            "inner3": "some_value"
        }
    }
}
print(dict1["inner"]["inner2"])

{'inner3': 'some_value'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.